@import "scroler";
@import "font";

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$color-red: #ae1100;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;
$ruler: 16px;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body,
html {
  background-color: $color-bg;
}
h2 {
  font-size: 25px;
  padding: 25px 5px;
  text-shadow: 1px 1px 0 $color-white;
}
.todo {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  article {
    margin-top: 10vh;
    padding: 0px 25px 25px;
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    background-color: $color-bg;
    border-radius: 4px;
    box-shadow: -2.3px -2.3px 3.8px rgba(255, 255, 255, 0.2),
      -6.3px -6.3px 10.6px rgba(255, 255, 255, 0.3),
      -15.1px -15.1px 25.6px rgba(255, 255, 255, 0.4),
      -50px -50px 85px rgba(255, 255, 255, 0.07),
      2.3px 2.3px 3.8px rgba(0, 0, 0, 0.024),
      6.3px 6.3px 10.6px rgba(0, 0, 0, 0.035),
      15.1px 15.1px 25.6px rgba(0, 0, 0, 0.046),
      50px 50px 85px rgba(0, 0, 0, 0.07);
  }
}
.todo__container {
  display: flex;
  input {
    flex-grow: 1;
    padding: 10px;
  }
}
.todo__items {
  margin-top: 25px;
  &--container {
    list-style: none;
    padding-left: 0px;
    height: 40vh;
    overflow: auto;
    .todo__items--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e4e4e4;
      padding: 15px 7px 15px 0;
      &:last-child {
        border-bottom: none;
      }
      .close--button {
        cursor: pointer;
      }
    }
  }
}
.container {
  display: flex;
  position: relative;
  align-items: center;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.done {
  text-decoration: line-through;
}

.todo__items--item {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 15px;
}
.container {
  position: relative;
  cursor: pointer;
}
.container input[type="checkbox"] {
  opacity: 0;
}
.container.done .checkmark .icon-ok {
  transform: scale(0.95);
  opacity: 1;
}
.container .checkmark {
  // width: 30px;
  // height: 30px;
  // background-color: $color-bg;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  // border-radius: 10px;
  padding: 10px;
  color: #61677c;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
}
.container .checkmark .icon-ok {
  opacity: 0.3;
}
.done .checkmark {
  box-shadow: inset -2px -2px 5px white, inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}

//---------------Neomorphic style
button,
input {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: 4px;
  padding: $ruler/1.3;
  background-color: $color-bg;
  text-shadow: 1px 1px 0 $color-white;
}

input {
  margin-right: $ruler/2;
  box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  //width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }
}

button {
  color: #61677c;
  //font-weight: bold;
  box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  //font-weight: 600;

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }

  .icon {
    margin-right: $ruler/2;
  }

  &.unit {
    border-radius: $ruler/2;
    line-height: 0;
    width: $ruler * 3;
    height: $ruler * 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 $ruler/2;
    font-size: $ruler * 1.2;

    .icon {
      margin-right: 0;
    }
  }

  &.red {
    display: block;
    width: 100%;
    color: $color-red;
  }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  label {
    margin: 0;
    flex: 1;
  }
}
