@charset "UTF-8";
/*----Remove up/down arrows in input field number------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/*------------------Thin scrollbar style---------------*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px; }

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background-color: #f5f5f5; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d8d8d8;
  background-image: #f5f5f5; }

/* (values chosen for visual consistency with Firefox) */
@-moz-document url-prefix() {
  * {
    scrollbar-color: #f5f5f5;
    scrollbar-width: thin; }
  *::-webkit-scrollbar {
    width: 7.5px; }
  *::-webkit-scrollbar-track {
    background: #f5f5f5;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); }
  *::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    border-right: 1px solid white; } }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?94585231");
  src: url("../font/fontello.eot?94585231#iefix") format("embedded-opentype"), url("../font/fontello.woff2?94585231") format("woff2"), url("../font/fontello.woff?94585231") format("woff"), url("../font/fontello.ttf?94585231") format("truetype"), url("../font/fontello.svg?94585231#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?94585231#fontello') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-ok:before {
  content: '\e800'; }

/* '' */
.icon-trash:before {
  content: '\e801'; }

/* '' */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

body,
html {
  background-color: #ebecf0; }

h2 {
  font-size: 25px;
  padding: 25px 5px;
  text-shadow: 1px 1px 0 #fff; }

.todo {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .todo article {
    margin-top: 10vh;
    padding: 0px 25px 25px;
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    background-color: #ebecf0;
    border-radius: 4px;
    box-shadow: -2.3px -2.3px 3.8px rgba(255, 255, 255, 0.2), -6.3px -6.3px 10.6px rgba(255, 255, 255, 0.3), -15.1px -15.1px 25.6px rgba(255, 255, 255, 0.4), -50px -50px 85px rgba(255, 255, 255, 0.07), 2.3px 2.3px 3.8px rgba(0, 0, 0, 0.024), 6.3px 6.3px 10.6px rgba(0, 0, 0, 0.035), 15.1px 15.1px 25.6px rgba(0, 0, 0, 0.046), 50px 50px 85px rgba(0, 0, 0, 0.07); }

.todo__container {
  display: flex; }
  .todo__container input {
    flex-grow: 1;
    padding: 10px; }

.todo__items {
  margin-top: 25px; }
  .todo__items--container {
    list-style: none;
    padding-left: 0px;
    height: 40vh;
    overflow: auto; }
    .todo__items--container .todo__items--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e4e4e4;
      padding: 15px 7px 15px 0; }
      .todo__items--container .todo__items--item:last-child {
        border-bottom: none; }
      .todo__items--container .todo__items--item .close--button {
        cursor: pointer; }

.container {
  display: flex;
  position: relative;
  align-items: center;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.done {
  text-decoration: line-through; }

.todo__items--item {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 15px; }

.container {
  position: relative;
  cursor: pointer; }

.container input[type="checkbox"] {
  opacity: 0; }

.container.done .checkmark .icon-ok {
  transform: scale(0.95);
  opacity: 1; }

.container .checkmark {
  padding: 10px;
  color: #61677c;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 4px; }

.container .checkmark .icon-ok {
  opacity: 0.3; }

.done .checkmark {
  box-shadow: inset -2px -2px 5px white, inset 3px 3px 5px rgba(0, 0, 0, 0.1); }

button,
input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 4px;
  padding: 12.30769px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff; }

input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none; }
  input:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff; }

button {
  color: #61677c;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer; }
  button:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc; }
  button:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff; }
  button .icon {
    margin-right: 8px; }
  button.unit {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 19.2px; }
    button.unit .icon {
      margin-right: 0; }
  button.red {
    display: block;
    width: 100%;
    color: #ae1100; }

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .input-group label {
    margin: 0;
    flex: 1; }
